{
	"$schema": "https://json.schemastore.org/eslintrc",
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": [
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"@typescript-eslint/no-unused-vars": "warn",
		"no-console": "warn",
		"no-alert": "warn"
	},

	"plugins": ["@typescript-eslint"],
	"env": {
		"browser": true,
		"es2021": true
	}
}
