{
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"trailingComma": "none",
	"tabWidth": 2,
	"semi": false,
	"singleQuote": false,
	"importOrder": [
		"/^react/",
		"/^next/",
		"/^@next/",
		"^@/components/(.*)$",
		"^@/config/(.*)$",
		"^@/lib/(.*)$",
		"^@/styles/(.*)$",
		"^@/(.*)$",
		"^@(.*)$",
		"^(?!next|react)[a-z]",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
