@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 4%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 4%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 4%;

		--primary: 21 91% 49%;
		--primary-foreground: 34 100% 97%;

		--secondary: 269 100% 96%;
		--secondary-foreground: 274 66% 32%;

		--muted: 0 0% 97%;
		--muted-foreground: 0 0% 46%;

		--accent: 35 100% 92%;
		--accent-foreground: 16 75% 28%;

		--destructive: 0 85% 61%;
		--destructive-foreground: 0 0% 99%;

		--border: 0 0% 90%;

		--input: 0 0% 90%;

		--ring: 21 91% 49%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 4%;
		--foreground: 0 0% 99%;

		--card: 0 0% 4%;
		--card-foreground: 0 0% 99%;

		--popover: 0 0% 4%;
		--popover-foreground: 0 0% 99%;

		--primary: 21 91% 49%;
		--primary-foreground: 34 100% 97%;

		--secondary: 273 68% 40%;
		--secondary-foreground: 270 100% 99%;

		--muted: 0 0% 15%;
		--muted-foreground: 0 0% 64%;

		--accent: 15 80% 34%;
		--accent-foreground: 34 100% 97%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 0 0% 99%;

		--border: 0 0% 15%;

		--input: 0 0% 15%;

		--ring: 21 91% 49%;
	}
}
